{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

    <style type="text/css">
        #vis-network-test {
            width: 800px;
            height: 600px;
            border: 1px solid lightgray;
            font: 24px arial black;
        }
    </style>

    <h1>{{ args.title }}</h1>
     <div>
  <form class="form-inline" action="/all_authors_network" method="get" data-ajax="false" onSubmit="validateForm(this)">
    <div class="form-group">
      Author Name:<br>
      <input class="form-control" type="text" name="author" placeholder="John Doe" >
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </form>
</div>

    <div id="vis-network-test"></div>



    <script type="text/javascript">

        $.ajax({
            dataType: 'json',
            url: '/coauthors_network?author={{args.author}}',
            success: function(data, status) {
                console.log("Data: " + data + "\nStatus: " + status);

                nodesDS = []
                edgesDS = []
                authors = data['authors']
                coauthors = data['coauthors']
                for (a in authors) {
                    nodesDS.push({id: a, label: authors[a]});
                }
                console.log(authors)
                for (var i = 0; i < coauthors.length; i++) {
                    c = coauthors[i]
                    edgesDS.push({from: c[0], to: c[1]})
                }
                var nodes = new vis.DataSet(nodesDS);
                var edges = new vis.DataSet(edgesDS);

                var container = document.getElementById('vis-network-test');
                var data = { nodes: nodes, edges: edges };
                var options = {
                    physics: {
                        barnesHut: {
                            avoidOverlap: 0.01
                        }
                    },
                    layout: {
                        improvedLayout: false
                    }
                };
                var network = new vis.Network(container, data, options);
            }
        });

         function validateForm(from){
    author = from["author"].value;

    if (author == ""){
      alert("Please insert an author's name");
      return false;
    }
    return true;
  }
    </script>

{% endblock %}
