{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>
<form action="/stats" method="get" data-ajax="false" onSubmit="validatefrom(this)">
    Author Name:<br>
    <input type="text" name="author">
    <input type="submit" value="Submit">
    <h3> Stats for {{args.author}} </h3>
<a>The overall number of publications = {{args.}}</a><br>
<a>The number of conference papers = {{args.}}</a><br>
<a>The number of journal articles = {{args.}}</a><br>
<a>The number of book chapters = {{args.}}</a><br>
<a>The number of books = {{args.}}</a><br>
<a>The number of co-authors = {{args.}}</a><br>
<a>The number of times(overall) an author appears first on a paper = {{args.}}</a><br>
<a>The number of times(overall) an author appears last on a paper = {{args.}}</a>
</form>


<script>
//  $(document).ready(function() {
//    $('#table1').DataTable( {
//        "order": [[ 0, "desc" ]]
//    } );
//  } );
function validateForm(from){
  author = form["author"].value;

  if (author == ""){
    alert("Please provide an Author");
    return false;
  }
  return true;
}
</script>

{% endblock %}
