{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>
<form action="/authorstats" method="get" data-ajax="false" onSubmit="validateForm(this)">
    Author Name:<br>
    <input type="text" name="author">
    <input type="submit" value="Submit">
</form>

{% if args.authorfound %}
<h3> Stats for {{args.author}} </h3>

Overall number of publications = {{args.allpubnumber}}<br>
Number of conference papers = {{args.papernumber}}<br>
Number of journal articles = {{args.journalnumber}}<br>
Number of book chapters = {{args.booknumber}}<br>
Number of books = {{args.booksnumber}}<br>
Number of co-authors = {{args.coauthornumber}}<br>
No. of times author appears first on a paper  = {{args.first}}<br>
No. of times author appears last on a paper = {{args.last}}<br>
{% elif args.author == "None" %}
    
{% else %}
    <br> Author not found
{% endif %}




<script>
//  $(document).ready(function() {
//    $('#table1').DataTable( {
//        "order": [[ 0, "desc" ]]
//    } );
//  } );
function validateForm(from){
  author = from["author"].value;

  if (author == ""){
    alert("Please insert an author's name");
    return false;
  }
  return true;
}
</script>

{% endblock %}
