{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<ul>
  <li><a href="/statisticsdetails/publication_summary">Publication Summary</a></li>
  <li><a href="/statisticsdetails/publication_author">Publications by Author</a></li>
  <li><a href="/statisticsdetails/publication_year">Publications by Year</a></li>
  <li><a href="/statisticsdetails/author_year">Authors by Year</a></li>
  <li><a href="/statisticsdetails/all_details_of_authors">All the Details of the Authors</a></li>
  <li><a href="/averages">Average Data</a></li>
  <li><a href="/coauthors">Co-Authors</a></li>
  <li><a href="/authorcount">Number of Times Authors Appear First/Last or Sole on a Paper</a></li>
  <li><a href="/authorstats">Author Stats</a></li>
</ul>
{% endblock %}
